@import '../../css/colors.scss';
@import '../../css/fonts.scss';

.menu-principal {
  width: 33%;
  height: 75px;
  background-color: $dodger-blue;
}

.menu-principal .element01 {
  background-color: $dodger-blue;
}

.menu-principal .element01 {
  background-color: $cornflower;
}