@import '../utilities/fonts.scss';

html {
  height: 100%;
}

body {
  font-family: $primary-font;
  background-image: linear-gradient(to bottom, #ffffff 10%, #f7f7fa 30%);
}

img {
  max-width: 100%;
  max-height: 100%;
}

.flex-centered {
  display: flex;
  justify-content: center;
  text-align: center;
}
.flex-centered-aligned {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}
.flex-centered-text-left {
  display: flex;
  justify-content: center;
}
.flex {
  display: flex;
}
.margin-bottom {
  height: 60px;
}
.text-centered {
  text-align: center;
}
.flex-centered-vetically {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
