@import './colors.scss';

$primary-font: 'Montserrat',
sans-serif;
$font-size-xl: 36px;
$font-size-l: 24px;
$font-size-m: 18px;
$font-size-s: 14px;
$font-size-xs: 12px;
$text-center: center;
$text-left: left;
$text-rigth: right;

h1 {
  font-family: $primary-font;
  font-size: $font-size-xl;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: left;
}

h3 {
  font-family: $primary-font;
  font-size: $font-size-m;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: left;
}

hr {
  height: 12px;
  border: 0;
  margin: 0;
  box-shadow: inset -2px -11px 10px -9px rgba(69, 91, 99, 0.5);
}