$dark: #353a50;
$dark-two: #2a2e43;
$slate: #454f63;
$cancel-action: #444f63;
$pink-purple: #c840e9;
$yellow-orange: #ffb900;
$pastel-orange: #ff9057;
$barbie-pink: #ff4f9a;
$cornflower: #5773ff;
$dodger-blue: #3497fd;
$aqua-marine: #3acce1;
$blue-grey: #78849e;
$cornflodwer-two: #665EFF;
$slate: #454f63;
$cancel-action: #444f63;
$cornflodwer-two: #665eff;
$pastel-orange: #ff9057;
$dark-two: #2a2e43;
$cancel-action: #444f63;
$soft-text: #f0e9d3;
$active: #07b17d;