$aqua-marine: #3acce1;
$dark: #353a50;
$cornflower: #665eff;
$pink-purple: #c840e9;
$yellow-orange: #ffb900;
$cornflower: #5773ff;
$blue-grey: #78849e;
$barbie-pink: #ff4f9a;
$dodger-blue: #3497fd;
$slate: #454f63;
$pastel-orange: #ff9057;
$dark-two: #2a2e43;
$cancel-action: #444f63;
