.menu-principal {
  width: 33%;
  height: 75px;
  background-color: #3497fd; }

.menu-principal .element01 {
  background-color: #3497fd; }

.menu-principal .element02 {
  background-color: #5773ff; }

.menu-principal .element03 {
  background-color: #5773ff; }
