h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: left; }

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: left; }

hr {
  height: 12px;
  border: 0;
  margin: 0;
  box-shadow: inset -2px -11px 10px -9px rgba(69, 91, 99, 0.5); }

h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: left; }

.logo {
  font-family: "Montserrat", sans-serif;
  font-size: 4em;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: center;
  color: white;
  margin-top: 320px; }

.subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: center;
  color: white;
  margin-top: .4em;
  padding: 0px 0.5em; }

.error {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: center;
  color: #f00372;
  margin-top: .4em;
  padding: 0px 0.5em; }

.menu-principal {
  height: 75px;
  background-color: #3497fd;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  display: flex;
  flex-flow: row;
  justify-content: center;
  color: #fff;
  font-size: 14px;
  font-weight: 100;
  z-index: 100; }

.menu-principal .element01 {
  background-color: #3497fd;
  width: 33%; }

.menu-principal .element02 {
  background-color: #5773ff;
  width: 34%; }

.menu-principal .element03 {
  background-color: #665eff;
  width: 33%;
  padding-top: 6px; }

.menu-principal .icon {
  padding-top: 15px; }

.menu-principal .nav {
  color: #fff;
  text-decoration: none; }

.ripple {
  background-position: center;
  transition: background 0.4s; }

.ripple:hover {
  background: #353a50 radial-gradient(circle, transparent 1%, #3acce1 1%) center/15000%; }

.ripple:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s; }

/* Button style */
.element01,
.element02,
.element03 {
  border: none;
  cursor: pointer;
  color: white;
  outline: none; }
