@import '../utilities/colors.scss';
@import '../utilities/fonts.scss';

.menu-principal {
  height: 75px;
  background-color: $dodger-blue;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  display: flex;
  flex-flow: row;
  justify-content: center;
  color: #fff;
  font-size: $font-size-s;
  font-weight: 100;
  z-index: 100;
}

.menu-principal .element01 {
  background-color: $dodger-blue;
  width: 33%;
}

.menu-principal .element02 {
  background-color: $cornflower;
  width: 34%;
}

.menu-principal .element03 {
  background-color: $cornflodwer-two;
  width: 33%;
  padding-top: 6px;
}

.menu-principal .icon {
  padding-top: 15px;
}

.menu-principal .nav {
  color: #fff;
  text-decoration: none;
}

.ripple {
  background-position: center;
  transition: background 0.4s;
}

.ripple:hover {
  background: $dark radial-gradient(circle, transparent 1%, $aqua-marine 1%) center/15000%;
}

.ripple:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}

/* Button style */
.element01,
.element02,
.element03 {
  border: none;
  cursor: pointer;
  color: white;
  outline: none;
}