@import '../utilities/colors.scss';

.menu-principal {
  width: 33%;
  height: 75px;
  background-color: $dodger-blue;
}

.menu-principal .element01 {
  background-color: $dodger-blue;
}

.menu-principal .element02 {
  background-color: $cornflower;
}

.menu-principal .element03 {
  background-color: $cornflower;
}