h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: left; }

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: left; }

.menu-principal {
  height: 75px;
  background-color: #3497fd;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  display: flex;
  flex-flow: row;
  justify-content: center;
  color: #fff;
  font-size: 14px;
  font-weight: 100;
  z-index: 100; }

.menu-principal .element01 {
  background-color: #3497fd;
  width: 33%; }

.menu-principal .element02 {
  background-color: #5773ff;
  width: 34%; }

.menu-principal .element03 {
  background-color: #665eff;
  width: 33%;
  padding-top: 6px; }

.menu-principal .icon {
  padding-top: 15px; }

.menu-principal .nav {
  color: #fff;
  text-decoration: none; }

.ripple {
  background-position: center;
  transition: background 0.4s; }

.ripple:hover {
  background: #353a50 radial-gradient(circle, transparent 1%, #3acce1 1%) center/15000%; }

.ripple:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s; }

/* Button style */
.element01,
.element02,
.element03 {
  border: none;
  cursor: pointer;
  color: white;
  outline: none; }
