.bg-image-slider {
  background: url(/images/login-background.jpg) no-repeat center center fixed;
  background-size: cover;
  background-position: left;
  background-position: -150px 00px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0px; }
