@import '../utilities/colors.scss';
@import '../utilities/fonts.scss';


.notifications {
  position: absolute;
  color: #fff;
  width: 100%;
  height: auto;
  z-index: 100;
  padding: 16px;
  display: flex;
  justify-content: center;
  transition: all 1s linear;
  display: block;
  transition: transform 1s;
  -moz-transition: transform 1s;
  /* Firefox 4 */
  -webkit-transition: transform 1s;
  /* Safari and Chrome */
  -o-transition: transform 1s;
  /* Opera */

  &.hidden {
    transform: translateX(-100%);
  }

  &.alert {
    background: $dodger-blue;
  }

  &.error {
    background: $pastel-orange;
  }
}