.roomWp {
  display: flex;
}
.nav-chat-wrapper {
  white-space: nowrap;
  background-color: #fff;
}
.chat-title,
.chat-navbar {
  display: inline-block;
}
.chat-title {
  width: calc(100% - 42px);
}
.chat-navbar {
  transition: transform 1s;
  -moz-transition: transform 1s; /* Firefox 4 */
  -webkit-transition: transform 1s; /* Safari and Chrome */
  -o-transition: transform 1s; /* Opera */
  width: calc(100% - 42px);
  background-color: #fff;
}
.expanded {
  transform: translateX(-100%);
  width: calc(100% - 42px);
}
.btn-burger-chat {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
}

.top-menu-button {
  width: 47px;
  height: 52px;
  background-color: DeepSkyBlue;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
}
.top-menu-icon {
  position: absolute;
  top: 50%;
  left: 20%;
  height: 4px;
  margin-top: -2px;
  right: 0;
  width: 60%;
}
.top-menu-icon::before,
.top-menu-icon::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 4px;
}
.top-menu-icon::before {
  top: -10px;
}
.top-menu-icon::after {
  bottom: -10px;
}
.top-menu-icon,
.top-menu-icon::before,
.top-menu-icon::after {
  background-color: white;
}
.top-menu-button:hover,
.top-menu-button.active {
  background-color: RoyalBlue;
}
.top-menu-button.active:hover {
  background-color: DeepSkyBlue;
}
.top-menu-button.active .top-menu-icon {
  left: 10%;
  width: 80%;
  background-color: transparent;
}
.top-menu-button.active .top-menu-icon::before,
.top-menu-button.active .top-menu-icon::after {
  top: 50%;
  margin-top: -2px;
}
.top-menu-button.active .top-menu-icon::before {
  transform: rotate(45deg);
}
.top-menu-button.active .top-menu-icon::after {
  transform: rotate(-45deg);
}
.top-menu-icon,
.top-menu-icon::before,
.top-menu-icon::after {
  background-color: white;
  transition: all 0.3s ease-in-out;
}
