@import '../utilities/colors.scss';

.room-create {
  padding-top: 15px;
}
.room-create .ripple {
  background-position: center;
  transition: background 0.4s;
}

.room-create .ripple:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}

.room-create .button-image {
  width: 327px;
  border: none;
  cursor: pointer;
  color: white;
  outline: none;
  background-color: $cornflodwer-two;
  padding-top: 6px;
  border-radius: 10px;
  padding: 10px;
}

.room-create image {
  width: 327px;
}
.room-create .footer {
  height: 60px;
}
.room-create .button-wrapper {
  margin: 10px 0 10px 0;
  width: 50%;
}

.room-create .image-wrapper {
  width: 50%;
}
