h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: left; }

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: left; }

hr {
  height: 12px;
  border: 0;
  margin: 0;
  box-shadow: inset -2px -11px 10px -9px rgba(69, 91, 99, 0.5); }

h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: left; }

.logo {
  font-family: "Montserrat", sans-serif;
  font-size: 4em;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: center;
  color: white;
  margin-top: 300px; }

.subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: center;
  color: white;
  margin-top: .4em;
  padding: 0px 0.5em; }

.chatroom {
  background-color: #e2e4e9;
  height: 100%; }

.chatroom .chatwrapper {
  height: calc(100% - 45px);
  overflow-y: auto; }

.chatroom .chat * {
  overflow-anchor: none; }

.chatroom .chat .anchor {
  /* allow the final child to be selected as an anchor node */
  overflow-anchor: auto;
  /* anchor nodes are required to have non-zero area */
  height: 1px; }

.chatroom .chat {
  padding: 20px; }

.chatroom .box {
  display: flex;
  padding: 10px; }
  .chatroom .box.tu {
    justify-content: flex-end; }
  .chatroom .box.el {
    justify-content: flex-start; }

.chatroom .box-avatar {
  width: 20%; }

.chatroom .box-message {
  width: 80%;
  text-align: left;
  padding-left: 10px;
  border-radius: 10px;
  background-color: #fff; }

.bubble {
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 0 6px #b2b2b2;
  display: inline-block;
  padding: 10px 18px;
  position: relative;
  vertical-align: top; }

.bubble::before {
  background-color: #f2f2f2;
  content: '\00a0';
  display: block;
  height: 16px;
  position: absolute;
  top: 11px;
  transform: rotate(29deg) skew(-35deg);
  -moz-transform: rotate(29deg) skew(-35deg);
  -ms-transform: rotate(29deg) skew(-35deg);
  -o-transform: rotate(29deg) skew(-35deg);
  -webkit-transform: rotate(29deg) skew(-35deg);
  width: 20px; }

.me {
  float: left;
  margin: 0 5px 5px 20px;
  text-align: left;
  width: 80%;
  word-break: break-word; }

.me::before {
  box-shadow: -2px 2px 2px 0 rgba(178, 178, 178, 0.4);
  left: -9px; }

.you {
  float: right;
  margin: 0 20px 5px 0px;
  text-align: right;
  width: 80%;
  word-break: break-word; }

.you::before {
  box-shadow: 2px -2px 2px 0 rgba(178, 178, 178, 0.4);
  right: -9px; }

.bubble .date {
  font-size: 12px;
  width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }
  .bubble .date.right {
    text-align: right; }
  .bubble .date.left {
    text-align: left; }

.chatroom .margin-header-text {
  margin-bottom: 5px; }

.chatroom .write-text-wrapper {
  padding: 15px;
  border-top: 1px solid;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #e2e4e9; }

.chatroom .chat-textarea {
  width: 100%;
  height: 40px;
  padding: 8px; }

.chatroom .form-content {
  display: flex;
  justify-content: space-between; }

.chatroom .form-content .text-area-wp {
  width: 76%; }

.chatroom .btn-send {
  border: none;
  padding: 10px; }

.room-create .ripple {
  background-position: center;
  transition: background 0.4s; }

.room-create .ripple:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s; }

.room-create .button-image {
  width: 327px;
  border: none;
  cursor: pointer;
  color: white;
  outline: none;
  background-color: #665eff;
  padding-top: 6px;
  border-radius: 10px;
  padding: 10px; }

.room-create image {
  width: 327px; }

.room-create .footer {
  height: 60px; }

.room-create .button-wrapper {
  margin: 10px 0 10px 0;
  width: 50%; }

.room-create .image-wrapper {
  width: 50%; }

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: left; }

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: left; }

hr {
  height: 12px;
  border: 0;
  margin: 0;
  box-shadow: inset -2px -11px 10px -9px rgba(69, 91, 99, 0.5); }

h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: left; }

.logo {
  font-family: "Montserrat", sans-serif;
  font-size: 4em;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: center;
  color: white;
  margin-top: 300px; }

.subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: center;
  color: white;
  margin-top: .4em;
  padding: 0px 0.5em; }

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: left; }

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: left; }

hr {
  height: 12px;
  border: 0;
  margin: 0;
  box-shadow: inset -2px -11px 10px -9px rgba(69, 91, 99, 0.5); }

h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: left; }

.logo {
  font-family: "Montserrat", sans-serif;
  font-size: 4em;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: center;
  color: white;
  margin-top: 300px; }

.subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: center;
  color: white;
  margin-top: .4em;
  padding: 0px 0.5em; }

.action-btn-big {
  width: 327px;
  height: 52px;
  border-radius: 12px;
  background-color: #3acce1;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  border: 0px;
  margin: 10px 0 10px 0; }

.dark-btn-big {
  width: 327px;
  height: 52px;
  border-radius: 12px;
  background-color: #353a50;
  font-size: 24px;
  outline: 0px; }

.action-btn-medium {
  width: 150px;
  border-radius: 12px;
  background-color: #3acce1;
  font-size: 24px;
  border: 0px;
  margin: 10px 0 10px 0;
  padding: 10px;
  color: #fff;
  outline: 0px; }

.action-btn-small {
  width: 73px;
  height: 32px;
  border-radius: 12px;
  background-color: #5773ff;
  font-size: 24px;
  border: 0px;
  margin: 10px 0 10px 0;
  outline: 0px; }

.input {
  width: 327px;
  height: 52px;
  border: 0px;
  padding: 10px 10px 10px 10px;
  border-radius: 12px;
  box-shadow: 0px 4px 16px 0px rgba(69, 91, 99, 0.18);
  background-color: #fff;
  font-size: 14px;
  font-weight: 300px;
  outline: 0px; }
  .input:focus {
    box-shadow: 0 4px 16px 0 rgba(69, 91, 99, 0.18);
    border: solid 3px #3acce1;
    background-color: #ffffff; }
  .input.margin {
    margin: 10px; }

.input-filter {
  width: 327px;
  height: 40px;
  border: 0px;
  border-block: 12px;
  border-radius: 12px;
  box-shadow: 0 4px 16px 0 rgba(69, 91, 99, 0.08);
  background-color: #ffffff;
  margin: 10px 0 10px 0; }
  .input-filter:focus {
    box-shadow: 0 4px 16px 0 rgba(69, 91, 99, 0.18);
    border: solid 3px #3acce1;
    background-color: #ffffff; }
  .input-filter.user-name {
    margin-top: 115px;
    width: 300px;
    height: 40px; }
  .input-filter.user-last-name {
    margin-top: -5px;
    width: 300px;
    height: 40px; }
  .input-filter.user-email {
    margin-top: 0px;
    width: 300px;
    height: 40px; }
  .input-filter.user-city {
    margin: 0px;
    width: 150px;
    height: 40px; }
  .input-filter.user-age {
    margin: 0px 5px 0px 30px;
    width: 50px;
    height: 40px; }

.input-textarea {
  height: 120px;
  margin: 10px 0 10px 0; }

.input-label {
  font-size: 18px;
  letter-spacing: 0.3px;
  text-align: left;
  color: #454f63;
  padding-left: 15px; }

.border-active {
  border: 4px solid #07b17d;
  pointer-events: none; }

.border-active-editable {
  border: 4px solid #07b17d;
  border-style: dotted; }

.input-dark {
  color: #fff;
  width: 90%;
  margin: 24px 16px 12px 16px;
  height: 52px;
  border: 0px;
  padding: 10px 10px 10px 10px;
  border-radius: 12px;
  background-color: #353a50;
  font-size: 14px;
  font-weight: 300px;
  outline: 0px; }
  .input-dark.top-0 {
    margin: 0px 16px 12px 16px; }
  .input-dark:hover {
    border-color: #3acce1; }
  .input-dark:focus {
    border: solid 2px #3acce1; }
  .input-dark::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff; }

.select-css-dark {
  width: 100%;
  height: 52px;
  border: 0px;
  padding: 10px 10px 10px 10px;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 300px;
  color: #fff;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"), linear-gradient(to bottom, #353a50, 0%, #353a50 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
  outline: 0px;
  background-color: #353a50;
  border: none; }
  .select-css-dark::-ms-expand {
    display: none; }
  .select-css-dark:hover {
    border-color: #3acce1; }
  .select-css-dark:focus {
    border-color: #3acce1;
    box-shadow: 0 0 1px 3px #3acce1;
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #fff;
    outline: none; }

.select-css-white {
  width: 327px;
  height: 52px;
  border: 0px;
  padding: 10px 10px 10px 10px;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 300px;
  color: #fff;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
  margin: 10px 0 10px 0;
  outline: 0px; }
  .select-css-white::-ms-expand {
    display: none; }
  .select-css-white:hover {
    border-color: #3acce1; }
  .select-css-white:focus {
    border-color: #3acce1;
    box-shadow: 0 0 1px 3px #3acce1;
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #fff;
    outline: none; }

.select-css option {
  font-weight: normal; }

.title {
  padding: 5px 27px 2px 27px; }
  .title .h1 {
    color: #454f63;
    text-align: center; }

.box-title-search {
  display: flex;
  height: 45px;
  flex-flow: row;
  justify-content: left;
  width: 100%;
  border-top: 2px #f4f4f6 solid;
  border-radius: 1px; }

.title-search {
  width: 33%;
  height: 44px;
  border-right: 2px #f4f4f6 solid;
  padding-top: 10px;
  color: #454f63;
  font-size: 14px; }

.search-text {
  width: 100%; }

.colors-selected {
  margin-top: 7px;
  display: flex;
  height: 8px;
  flex-flow: row; }
  .colors-selected .box-color01 {
    height: 8px;
    background-color: #665eff;
    width: 25%; }
  .colors-selected .box-color02 {
    height: 8px;
    background-color: #5773ff;
    width: 25%; }
  .colors-selected .box-color03 {
    height: 8px;
    background-color: #3497fd;
    width: 25%; }
  .colors-selected .box-color04 {
    height: 8px;
    background-color: #3acce1;
    width: 25%; }

.section {
  background-color: #2a2e43; }

.select-wp {
  display: flex;
  flex-flow: wrap;
  justify-content: left; }

.select-width-theme-60 {
  width: 55%;
  margin-left: 22px;
  margin-bottom: 24px; }

.select-width-km-30 {
  width: 30%;
  margin-left: 8px; }

.accordion__content {
  overflow: hidden;
  transition: max-height 0.6s ease; }

.users-chat .box {
  width: 50%;
  border: 1px solid black;
  padding: 10px; }

.users-chat .userName {
  padding: 15px 0 0 0; }

.roomWp {
  display: flex; }

.nav-chat-wrapper {
  white-space: nowrap;
  background-color: #fff; }

.chat-title,
.chat-navbar {
  display: inline-block; }

.chat-title {
  width: calc(100% - 42px); }

.chat-navbar {
  transition: transform 1s;
  -moz-transition: transform 1s;
  /* Firefox 4 */
  -webkit-transition: transform 1s;
  /* Safari and Chrome */
  -o-transition: transform 1s;
  /* Opera */
  width: calc(100% - 42px);
  background-color: #fff; }

.expanded {
  transform: translateX(-100%);
  width: calc(100% - 42px); }

.btn-burger-chat {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000; }

.sample-menu-button {
  width: 51px;
  height: 51px;
  background-color: DeepSkyBlue;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100; }

.sample-menu-icon {
  position: absolute;
  top: 50%;
  left: 20%;
  height: 4px;
  margin-top: -2px;
  right: 0;
  width: 60%; }

.sample-menu-icon::before,
.sample-menu-icon::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 4px; }

.sample-menu-icon::before {
  top: -10px; }

.sample-menu-icon::after {
  bottom: -10px; }

.sample-menu-icon,
.sample-menu-icon::before,
.sample-menu-icon::after {
  background-color: white; }

.sample-menu-button:hover,
.sample-menu-button.active {
  background-color: RoyalBlue; }

.sample-menu-button.active:hover {
  background-color: DeepSkyBlue; }

.sample-menu-button.active .sample-menu-icon {
  left: 10%;
  width: 80%;
  background-color: transparent; }

.sample-menu-button.active .sample-menu-icon::before,
.sample-menu-button.active .sample-menu-icon::after {
  top: 50%;
  margin-top: -2px; }

.sample-menu-button.active .sample-menu-icon::before {
  transform: rotate(45deg); }

.sample-menu-button.active .sample-menu-icon::after {
  transform: rotate(-45deg); }

.sample-menu-icon,
.sample-menu-icon::before,
.sample-menu-icon::after {
  background-color: white;
  transition: all 0.3s ease-in-out; }
