.o-avatar {
  cursor: pointer;
  pointer-events: visible;

  &.w-15precent {
    width: 15%;
  }

  &.w-50precent {
    width: 50%;
  }

  &.w-75precent {
    width: 75%;
  }

  &.w-100precent {
    width: 100%;
  }

  &.is-active {
    .o-avatar__inner:after {
      border-color: $aqua-marine;
    }

    pointer-events: auto;
  }

  &.is-headerUser-absolute {
    position: absolute;
    top: -100px;
    left: 25%;
    right: 25%;
  }

  &__inner {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 100%;
    border-radius: 100%;
    // 4:3
    // padding-top: 3/4 * 100%;

    // 16:9
    // padding-top: 9/166 * 100%;

    &:after {
      content: '';
      position: absolute;
      top: -2px;
      left: -2px;

      display: block;
      width: 100%;
      height: 100%;

      border: 2px solid $blue-grey;

      border-radius: 50%;
    }
  }

  &__img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border: 5px solid #ffffff;
    border-radius: 100%;
  }
}