.o-btn {
  position: relative;
  display: inline-block;
  padding: 1em;
  background: #3acce1;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  box-shadow: #c5cdda 0 0 4px;
  transition: background-color 0.4s ease-out;
  text-decoration: none; }

.o-btn:hover {
  background-color: #5773ff; }

.o-btn.margin {
  margin: .5em; }

.o-btn.is-disabled {
  pointer-events: none;
  user-select: none;
  background: #454f63; }

.o-btn.is-disabled:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(197, 205, 218, 0.6); }

.o-btn--xs {
  font-size: 0.7em; }

.o-btn--sm {
  font-size: 0.8em; }

.o-btn--lg {
  font-size: 1.2em; }

.o-btn--block {
  display: block;
  width: 100%; }

.o-btn--theme2 {
  background-color: #444f63; }

.o-btn--theme2:hover {
  background-color: #ff4f9a; }

.o-top-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: row;
  background-color: rgba(239, 255, 255, 0.5); }

.o-top-nav--rel {
  position: relative; }

.o-top-nav__btn {
  transition: opacity 0.4s ease-out, transform 0.4s ease-out 0.3s;
  border-radius: 0; }

.o-top-nav__btn--next {
  margin-left: auto;
  opacity: 1;
  pointer-events: auto; }

.o-avatar {
  cursor: pointer;
  pointer-events: visible; }

.o-avatar.w-15precent {
  width: 15%; }

.o-avatar.w-50precent {
  width: 50%; }

.o-avatar.w-75precent {
  width: 75%; }

.o-avatar.w-100precent {
  width: 100%; }

.o-avatar.is-active {
  pointer-events: auto; }

.o-avatar.is-active .o-avatar__inner:after {
  border-color: #3acce1; }

.o-avatar.is-headerUser-absolute {
  position: absolute;
  top: -100px;
  left: 25%;
  right: 25%; }

.o-avatar__inner {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 100%;
  border-radius: 100%;
  background-color: white; }

.o-avatar__inner:after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  display: block;
  width: 100%;
  height: 100%;
  border: 2px solid #78849e;
  border-radius: 50%; }

.o-avatar__img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border: 5px solid #ffffff;
  border-radius: 100%; }

.o-images {
  cursor: pointer;
  pointer-events: none; }

.o-images.w-15precent {
  width: 15%; }

.o-images__inner {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 100%; }

.o-images__inner:after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  display: block;
  width: 100%;
  height: 100%; }

.o-images__img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%; }

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: left; }

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: left; }

hr {
  height: 12px;
  border: 0;
  margin: 0;
  box-shadow: inset -2px -11px 10px -9px rgba(69, 91, 99, 0.5); }

h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: left; }

.logo {
  font-family: "Montserrat", sans-serif;
  font-size: 4em;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: center;
  color: white;
  margin-top: 320px; }

.subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: center;
  color: white;
  margin-top: .4em;
  padding: 0px 0.5em; }

.box-list-user {
  width: 40%;
  padding: 1em 0px;
  margin: 10px;
  border-radius: 4px; }

.box-list-user .title {
  width: 100%;
  font-size: 18px;
  font-style: bold; }

.box-list-user.color {
  background-color: rgba(197, 205, 218, 0.4); }
