h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: left; }

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: left; }

h3 {
  color: #78849e;
  padding-top: 20px; }

.room-user-content {
  width: 100%;
  padding: 0 16px 100px 16px;
  text-align: left;
  font-size: 14px;
  text-decoration: none;
  background-color: #e2e4e9;
  margin-top: -18px;
  padding: 0, 16px; }
  .room-user-content .card-L {
    width: 340px;
    height: 144px;
    background-color: #fff;
    padding: 10px 7px 7px 20px;
    margin: 24px 0;
    border-radius: 12px;
    color: #353a50;
    box-shadow: 0 4px 16px 0 #c5cdda; }
    .room-user-content .card-L img {
      width: 120px;
      height: 120px;
      background-color: #78849e;
      margin: 4px -40px 8px 10px;
      border-radius: 12px;
      color: #353a50;
      float: right; }
    .room-user-content .card-L .title {
      font-size: 18px;
      color: #454f63;
      text-decoration: none;
      padding: 14px 0 0 0; }
    .room-user-content .card-L .theme {
      font-size: 18px;
      padding-top: 10px;
      color: #ff4f9a; }
  .room-user-content .card-R {
    width: 340px;
    height: 144px;
    background-color: #fff;
    padding: 10px 7px 7px 20px;
    margin: 24px 0 0 30px;
    border-radius: 12px;
    color: #353a50;
    box-shadow: 0 4px 16px 0 #c5cdda; }
    .room-user-content .card-R img {
      width: 120px;
      height: 120px;
      background-color: #78849e;
      margin: 4px 16px 8px -50px;
      border-radius: 12px;
      color: #353a50;
      float: left; }
    .room-user-content .card-R .title {
      font-size: 18px;
      color: #454f63;
      text-decoration: none;
      padding: 14px 0 0 0; }
    .room-user-content .card-R .theme {
      font-size: 18px;
      padding-top: 10px;
      color: #ff4f9a; }
